[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mypy = "*"
pytest-asyncio = "*"
pytest = "*"
pytest-cov = "*"
pytest-env = "*"
black = "*"
pytest-dotenv = "==0.5.2"
ruff = "*"

[requires]
python_version = "3.12"